:where(*, *::before, *::after) {
  box-sizing: border-box;
}

:where(html, body) {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #011627;
}

#app {
  height: 100%;
  padding-block-start: 1.25rem;
}

.playback-controls {
  position: fixed;
  top: 1.25rem;
  right: 2rem;
  display: flex;
  gap: 0.75rem;

  & > button {
    --opacity: 0;

    border: none;
    border-radius: 100vmax;
    padding: 0.625rem;
    margin: 0;
    font-weight: 500;
    color: #011627;

    &[aria-label="play"] {
      [data-icon="update"] {
        opacity: 0;
      }
    }

    &[aria-label="update"] {
      animation: pulse 500ms infinite alternate;

      [data-icon="play"] {
        opacity: 0;
      }
    }

    svg {
      vertical-align: bottom;
    }
  }
}

@keyframes pulse {
  from {
    outline: 4px solid rgb(255 255 255 / 0);
  }
  to {
    outline: 4px solid rgb(255 255 255 / 0.375);
  }
}
