:where(*, *::before, *::after) {
  box-sizing: border-box;
}

:where(html, body) {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #011627;
}

#app {
  height: 100%;
  padding-block-start: 1.25rem;
}

.playback-controls {
  position: fixed;
  top: 1.25rem;
  right: 2rem;
  display: flex;
  gap: 0.75rem;

  & > button {
    border: none;
    border-radius: 100vmax;
    padding: 0.625rem;
    margin: 0;
    font-weight: 500;
    color: #011627;

    &[aria-label="update"] {
      outline: 6px solid rgb(255 255 255 / 0.25);
    }

    svg {
      vertical-align: bottom;
    }

    &#play {
      padding-inline: 0.638rem 0.6125rem;
      /* margin-inline-start: 8px -8px; */
    }
  }
}
